.dialogs__title{
  color: #fff;
  font-size: 42px;
  padding: 20px;
}
.dialogs__columns{
  display: grid;
  grid-template-columns: 2fr 10fr;
  gap: 15px;
}
.dialogs__items{
  padding: 20px;
  font-size: 24px;
  display: flex;
  flex-direction: column;
}
.dialogs__item{
  text-decoration: none;
  color: #fff;
  transition: all 0.3s ease 0s;
}
.dialogs__item:hover{
  opacity: .5;
}
.dialogs__messages{
  padding: 20px;
}
.dialogs__message{
  color: rgb(45, 56, 29);
  font-size: 24px;
}
.active{
  color: gold;
}